NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;

NET "finish" LOC = AF24 | IOSTANDARD = LVCMOS33;
#NET "start"  LOC = AE13 | IOSTANDARD = LVCMOS15;

NET "SEGCLK" LOC = M24 | IOSTANDARD = LVCMOS33;
NET "SEGCLR" LOC = M20 | IOSTANDARD = LVCMOS33;
NET "SEGDT"  LOC = L24 | IOSTANDARD = LVCMOS33;
NET "SEGEN"  LOC = R18 | IOSTANDARD = LVCMOS33;

NET "SW[0]" LOC = AA10 | IOSTANDARD = LVCMOS15;#SW[0]
NET "SW[1]" LOC = AB10 | IOSTANDARD = LVCMOS15;#SW[1]
NET "SW[2]" LOC = AA13 | IOSTANDARD = LVCMOS15;#SW[2]
NET "SW[3]" LOC = AA12 | IOSTANDARD = LVCMOS15;#SW[3]
NET "SW[4]" LOC = Y13 | IOSTANDARD = LVCMOS15;#SW[4]
NET "SW[5]" LOC = Y12 | IOSTANDARD = LVCMOS15;#SW[5]
NET "SW[6]" LOC = AD11 | IOSTANDARD = LVCMOS15;#SW[6]
NET "SW[7]" LOC = AD10 | IOSTANDARD = LVCMOS15;#SW[7]
NET "SW[0]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[1]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[2]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[3]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[4]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[5]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[6]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[7]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW2[14]" LOC = AF13 | IOSTANDARD = LVCMOS15;#SW[6]
NET "SW2[15]" LOC = AF10 | IOSTANDARD = LVCMOS15;#SW[7]